<header><center><h1>ALTERAR</h1></center></header>
<form action="/PUTED" method="POST" >
<center><p id="treinador">Treinador atual: {{treinador}}</p>
Novo treinador: <input type="text" autocomplete="off" name="treinador" id="treinador" required><br><br>
<p hidden><input type=text value="{{id}}" name="id" id="id"></p><br>
<button type="submit">Alterar</button>
</center>
</form>