
    <header><center><h1>CRIAR</h1></center></header>

   <section>
    <form method="POST" action="/POSTED">
        <center>
        tipo: <input type="text" name="tipo" id="tipo" autocomplete = "off" required><br><br>
        treinador: <input type="text" name="treinador" id="treinador" autocomplete = "off" required><br><br>
        <button type="submit">Criar</button>
    </center>
    </form>
    </section>
  
   
  