<!DOCTYPE html>
<html lang="py-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Projeto_Pokemon.com</title>
</head>
<body>
    <center>
        <h3>Digite o Id do pokémon que deseja carregar:</h3>

        <form action="/GET/pokemons/id"  method="post">
            <input type="text" name="id" id="id">
            <button type="submit">Enviar</button>
        </form>
    </center>
    
</body>
</html>