<header>
	 <h1><b><u><center>PROJETO POKÉMON</center></u></b></h1>
	</header>
  <nav>

<ul class="container">

      <li><a href='/POST/pokemons'><b>CRIAR</b></a></li>
      <li><a href='/PUT/pokemons'><b>ALTERAR</b></a></li>
      <li><a href='/DELETE/pokemons'><b>DELETAR</b></a></li>
      <li><a href='/GET/pokemon'><b>CARREGAR</b></a></li>
      <li><a href='/GET/pokemons'><b>LISTAR</b></a></li>
      <li><a href='/POST/batalhar'><b>BATALHAR</b></a></li>
     
    </ul>
  </nav><br><br><br><hr><br><br>
  <footer>
  <center>
  <i> Autoria: Christian Soares Pereira dos Santos</i>
  </center>
  </footer>
