<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
         <title>Projeto_Pokemon.com</title>
        <style>
    input{
        color: red;
        border-color: red;
         padding: 10px;
         border-radius: 10px;
           font-size: 14px;
    }

    body {
      margin: 0;
      padding: 0;
      font-family: Arial, Helvetica, sans-serif;
      color: red;
      background-color: black;
    }

    a {
      text-decoration: none;

    }

    .container {
      margin: auto;
      width: 1000px;

    }

    ul {
      padding-left: 0;
      margin-top: 0;
      margin-bottom: 0;
      list-style: none;

    }

    nav {
      background: red;
      font-size: 0;
      position: relative;
      text-align: center;
    }

    nav>ul>li {
      display: inline-block;
      font-size: 14px;
      padding: 0 15px;
     

    }

    nav>ul>li>a {
      color: #fff;
      display: block;
      padding: 20px 0;
      border-bottom: 3px solid transparent;
      transition: all .3s ease;
    }

    nav>ul>li:hover>a {
      color: #444;
      border-bottom: 3px solid #444;
    }
	header{
	color: red;
	font-size: 50px;
    }
  i{
    color: red;
  }
  button{
    background: red; 
    border-radius: 6px; 
    padding: 15px; 
    cursor: pointer; 
    color: white; 
    border: none; 
    font-size: 16px;
    
  }
  button:hover{
    color: #444;
      border-bottom: 3px solid red;
  }

  h2{
    color: #fff;
    text-align: center;
  }
  </style>
</head>
<body>
{{{body}}}
</body>
</html>